# 编译产物
*.o
parser
debug
http_server
*.out

# IDE
.vscode/
.idea/

# 第三方库源码（不要上传！）
boost_1_92_0/
cppjieba/

# 大文件：词典 +原始 HTML +清洗后文本
dict/
data/input/
data/raw_html/raw.txt

# 系统文件
.DS_Store
Thumbs.db
